@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
     :root {
        --background: 120 27% 96%;
        --foreground: 224 71.4% 4.1%;
        --card: 120 27% 96%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 120 27% 96%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 124 40% 48%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 207 90% 54%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 355.7 100% 97.3%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 207 90% 54%;
        --radius: 0.75rem;
    }
    .dark {
        --background: 222 47.4% 11.2%;
        --foreground: 210 40% 98%;
        --card: 222 47.4% 11.2%;
        --card-foreground: 210 40% 98%;
        --popover: 222 47.4% 11.2%;
        --popover-foreground: 210 40% 98%;
        --primary: 124 40% 48%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 207 90% 54%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 207 90% 54%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}